body {
    position: relative;
}

h1 {
    font-size: 35px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-bottom: 66px;
}

p {
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.btn-wrapper {
    padding: 100px 0 100px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-wrapper button {
    background-color: #ff0000;
    border: none;
    width: 235px;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}

.btn-wrapper button:hover {
    background-color: #ff7373;
}

.form-wrapper {
    position: absolute;
    top: 50px;
    left: calc(50% - 909px / 2);
    ;
    z-index: 2;
    display: none;
    transition: all 5s ease;
}

.form-popup {
    width: 909px;
    height: 555px;
    border-radius: 25px;
    padding-top: 62px;
    position: relative;
    border: 1px solid #00000044;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    background-color: #fff;
}

.form-popup>img {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.form-img {
    width: 55%;
    padding-left: 48px;
}

.form-img>img {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.form-fields {
    width: 45%;
    padding: 122px 54px 66px 0;
}

.form-fields .form-control label {
    display: block;
    font-size: 15px;
    color: rgba(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 13px;
    font-weight: 600;
}

.form-fields .form-control input {
    border: 1px solid #00000054;
    border-radius: 6px;
    display: block;
    width: 88%;
    padding: 19px;
    font-size: 19px;
    font-family: sans-serif;
}

.success input {
    border: 2px solid #39cf70 !important;
}

.form-fields form .form-control:first-child {
    margin-bottom: 33px;
}

.form-fields .form-control small {
    display: none;
}

.form-fields button {
    cursor: pointer;
    background-color: #39cf70;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: flex;
    padding: 20px 0;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0px 6px 0 #36aa60;
    align-items: center;
    justify-content: center;
}

.form-fields button img {
    margin-left: 22px;
}

.formats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formats .formats-item {
    width: 30%;
    text-align: center;
}

.formats .formats-item p {
    font-size: 11px;
    color: #888888;
}

.form-docs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-docs img {
    margin-right: 11px;
    width: 37px;
}

@media (max-width: 769px) {
    .form-popup {
        width: 760px;
    }

    .form-wrapper {
        left: calc(50% - 760px / 2);
    }

    .form-img>img {
        width: 47%;
    }

    .form-fields button {
        padding: 13px 0;
    }
}

@media (max-width: 426px) {
    .form-popup {
        width: 320px;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }

    .form-wrapper {
        left: calc(50% - 320px / 2);
    }

    .form-img img {
        width: 228px;
        left: calc(50% - 228px / 2);
        top: 15px;
    }

    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 35px;
    }

    .form-img {
        padding: 0;
        width: 100%;
    }

    .form-fields {
        padding: 0;
        width: 100%;
    }

    .form-fields form {
        padding: 0 19px;
    }

    .form-fields .form-control input {
        font-size: 16px;
        padding: 14px;
        width: 91%;
    }

    .form-fields .form-control label {
        font-size: 13px;
    }

    .form-fields button {
        font-size: 19px;
    }

    .formats {
        display: none;
    }

    .form-docs img {
        margin-right: 9px;
        width: 29px;
    }

    .form-docs {
        position: absolute;
        top: 154px;
        z-index: 2;
        left: 28px;
    }
}